	<header>
		<div class="container-fluid">
			<div class="header_top">
				<button class="menu_btn mobile_only menu_toggle">
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H19C19.5523 0 20 0.447715 20 1C20 1.55228 19.5523 2 19 2H1C0.447715 2 0 1.55228 0 1ZM0 10C0 9.44771 0.447715 9 1 9H19C19.5523 9 20 9.44771 20 10C20 10.5523 19.5523 11 19 11H1C0.447715 11 0 10.5523 0 10ZM1 18C0.447715 18 0 18.4477 0 19C0 19.5523 0.447715 20 1 20H19C19.5523 20 20 19.5523 20 19C20 18.4477 19.5523 18 19 18H1Z" fill="#FFFFFF"/>
					</svg>
				</button>
				<!-- <a href="" class="search_btn"><img src="../images/search.svg" alt=""></a> -->
				
				<div class="logo"><img src="../images/logo.svg" alt=""></div>
				
				<button class="exit_btn">
					<!-- <img src="../images/power.svg" alt=""> -->
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13 3H11V13H13V3ZM17.83 5.17L16.41 6.59C17.99 7.86 19 9.81 19 12C19 15.87 15.87 19 12 19C8.13 19 5 15.87 5 12C5 9.81 6.01 7.86 7.58 6.58L6.17 5.17C4.23 6.82 3 9.26 3 12C3 16.97 7.03 21 12 21C16.97 21 21 16.97 21 12C21 9.26 19.77 6.82 17.83 5.17Z" fill="#737884"/>
					</svg>
				</button>
			</div>
			<div class="header_bottom">
				<div class="theme_toggle">
					<span></span>
				</div>
				<div class="user_block">
					<div class="user_block_icon d-img">
						<div class="d-wrap">
							<img src="../images/girl.jpg" alt="">
						</div>
					</div>
					<div class="user_block_name">Иван Иванов</div>
				</div>
			</div>
		</div>
	</header>
	<div class="navbar closed">
		<button class="navbar_btn menu_toggle"></button>
		<ul>
			<li>
				<a href="/market.html" class="active">
					<img src="../images/nav_market.svg" alt="">
					<span>market</span>
				</a>
			</li>
			<li>
				<a href="/portfolio.html">
					<img src="../images/nav_funds.svg" alt="">
					<span>funds</span>
				</a>
			</li>
			<li>
				<a href="/history.html">
					<img src="../images/nav_orders.svg" alt="">
					<span>orders</span>
				</a>
			</li>
			<li>
				<a href="/statistic.html">
					<img src="../images/nav_analytics.svg" alt="">
					<span>analytics</span>
				</a>
			</li>
			<li>
				<a href="/profile_entity.html">
					<img src="../images/nav_settings.svg" alt="">
					<span>settings</span>
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/market.html" class="active">
					<img src="../images/nav_market.svg" alt="">
					<span>market</span>
				</a>
			</li>
			<li>
				<a href="/portfolio.html">
					<img src="../images/nav_funds.svg" alt="">
					<span>funds</span>
				</a>
			</li>
			<li>
				<a href="/history.html">
					<img src="../images/nav_orders.svg" alt="">
					<span>orders</span>
				</a>
			</li>
			<li>
				<a href="/statistic.html">
					<img src="../images/nav_analytics.svg" alt="">
					<span>analytics</span>
				</a>
			</li>
			<li>
				<a href="/profile_entity.html">
					<img src="../images/nav_settings.svg" alt="">
					<span>settings</span>
				</a>
			</li>
		</ul>
	</div>