@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic');
@import 'colors.scss';
@import '../css/grid-minimum.css';
html, body {
	width: 100%;
	height: auto;
	min-height: 100%;
	padding: 0;
	margin: 0;
}
img {
	vertical-align: middle;
}
a {
	color: inherit;
	text-decoration: none;
}
a, input, button, label, select {
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-shadow: none;
}
.d-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.d-wrap {
    position: absolute;
    width: 600px;
    height: 600px;
    margin: -300px 0 0 -300px;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 600px;
}